$background-color: #1a1a1a;
$primary-color: #f0f0f0;
$secondary-color: #333;
$accent-color: #113f74;
$text-color: #e0e0e0;

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 20px;
}

.tablix {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .tx-top {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $secondary-color;

    .tx-filter, .tx-search {
      display: flex;
      align-items: center;
      

      select, input {
        cursor: pointer;
        padding: 10px;
        margin-left: 10px;
        border: none;
        background-color:  lighten($background-color, 8%);
        color: $text-color;
        transition: all ease 0.3s;
      }

      select{
        &:hover{
          transition: ease all 0.3s;
          box-shadow: -2px 2px 5px $accent-color;
        }
      }

      input{
        &:hover{
          transition: ease all 0.3s;
          box-shadow: 2px 2px 5px $accent-color;
        }
      }


    }
  }

  .tx-table-wrapper {
    overflow-x: auto;

    .tx-table {
      width: 100%;
      border-collapse: collapse;

      thead {
        background-color: $secondary-color;
        tr{
          background-color: lighten($background-color, 8%);
        }
        th {
          border-bottom: 2px solid $accent-color;
          // border-right: 2px solid $accent-color;
          // border-bottom: 2px solid $accent-color;


          // border:2px solid $accent-color;

          // border-left:2px solid $accent-color;
          // border-bottom: 2px solid $accent-color;

          
          padding: 12px;
          text-align: left;
          
          color: $primary-color;

          .sort-icon {
            margin-left: 5px;
            cursor: pointer;
          }
        }
      }

      .tx-body{
        .tx-tr {
          transition: all ease 0.3s;
          &:hover{
            
            background-color: $accent-color;
          }
          
          td {
            padding: 12px;
            border-bottom: 1px solid $secondary-color;
            color: $text-color;
          }
        }
      }
      
    }
  }

  .tx-bottom {
    
    padding: 15px;
    background-color: $secondary-color;

    .tx-pagination {
      justify-content: space-between;
      align-items: center;
      display: flex;
      .tx-length-select, .tx-selectBox {
        text-align: center;
        margin-left: 10px;
        background-color: $accent-color;        
        color: $text-color;
        cursor: pointer;
      }

      .tx-length-select{
        height: 30px;
      }

      .tx-selectBox{
        background-color: darken($accent-color,10%);
      }

      .tx-navigate-buttons{
        display: flex;
      }

      .tx-page-number{
        width: 35px;
        justify-content: center;
        transition: all ease 0.3s;
        &.active{
          transition: all ease 0.3s;
          background-color: darken($accent-color, 10%);
        }
      }

      button {
        transition: all ease 0.3s;
        padding: 8px 12px;
        margin: 0 5px;
        border: none;
        background-color: $accent-color;
        color: $primary-color;
        cursor: pointer;

        &:hover {
          background-color: darken($accent-color, 10%);
        }
      }
    }
  }
}